body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: #4DABF7;
}

a {
  all: unset;
  cursor: pointer;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;

}